.navbar {
  width: 100%;
  padding: 20px 6%;
  display: flex;
  justify-content: space-between;
  position: sticky;
  font-size: 14px;
  font-weight: 600;
  color: #e5e5e5;
  background-image: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.7) 10%,
    transparent
  ); /*0deg is a top-to-bottom gradient, 90deg is left-to-right, 180deg is bottom-to-top, and so on. */
  z-index: 1; /*It determines which elements will appear in front of or behind others when they overlap behind*/
}

.navbar-left {
  display: flex;
  align-items: center;
  gap: 50px;
}
.navbar-left img {
  width: 90px;
}
.navbar-left ul {
  display: flex;
  list-style: none;
  gap: 20px;
}
.navbar-left ul li {
  cursor: pointer;
}

.navbar-right {
  display: flex;
  align-items: center;
  gap: 20px;
  
}
.navbar-right .icon {
  width: 20px;
}
.navbar-right .profile {
  border-radius: 4px;
  width: 35px;
}
.navbar-profile {
  display: flex;
  align-items: center;
  gap: 10px;
  position: relative;
  cursor: pointer;
}
.navbar .dropdown {
  position: absolute;
  top: 100%;
  right: 0;
  width: max-content;
  background: #191919;
  padding: 18px 22px;
  border-radius: 2px;
  text-decoration: underline;
  z-index: 1;
  visibility: hidden;

  /* opacity: 0; /* Start as invisible */
  /* transition: opacity 0.3s ease; /*Smooth transition */
}

.navbar .dropdown p {
  font-size: 13px;
  cursor: pointer;
}

.navbar-profile:hover .dropdown{
    visibility: visible;
}

@media (max-width: 768px) {
  .navbar ul {
    display: block;  /* Make the list vertical */
    text-align: center;  /* Center the links */
  }

  .navbar ul li {
    margin: 10px 0;  /* Space between links */
  }
}
.menu-toggle {
    display: none;
    background: none;
    border: none;
    font-size: 24px;
    color: white;
    cursor: pointer;
}
@media (max-width: 768px) {

  .navbar{
    display: flex;
    gap: 10px;
    height: 50%;
  }

    .nav-links {
        display: none; /* Initially hide the menu */
        width: 100%;
        position: absolute;
        top: 60px;
        left: 0;
        background-color:black;
        text-align: center;
        padding: 10px 0;
    }

    .nav-links ul {
        display: inline-block;
        
      
        
    }

    .nav-links ul li {
        margin: 15px 0;
    }

    .menu-toggle {
        display: block; /* Show the toggle button */
    }

    /* Show menu when active */
    .nav-links.active {
        display: block;
    }
}